<% layout('/boilerplate') -%>
<% stylesheet('/css/generated/styles.css') -%>

<div id="dates" class="wrapper">
	<h2>Upcoming Dates</h2>
	<ul class="date-list">
		<% dates.forEach(function(date) { %>
		<li class="date-item">
			<a href="/date?id=<%= date.id %>">
				<h3 class="date-item-friend"><%= date.user %></h3>
				<h3 class="date-item-friend"><%= date.friend %></h3>
				<span class="date-item-date"><%= date.date %></span>
				<span class="date-item-title"><%= date.name %></span>

				<span class="button">View</span>
			</a>
		</li>
		<% 	}) %>
	</ul>
</div>