<% layout('/boilerplate') -%>
<% stylesheet('/css/generated/styles.css') -%>
<h1>Dates</h1>
<p>Here are all the dates.</p>
<div id="dates">
	<% dates.forEach(function(date) { %>
	<div class="date">
		<h2><%= date.title %></h2>
		<p>With: <%= date.friend %></p>
		<p>On: <%= date.date %></p>
		<ul>
			<li><%= date.song1 %></li>
			<li><%= date.song2 %></li>
			<li><%= date.song3 %></li>
		</ul>
		<a href="/date?id=<%= date._id %>">View</a>
	</div>
	<% 	}) %>
</div>
